.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: var(--z-tooltip);
    opacity: .8;
    transition: transform .3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    background-color: var(--whiteColor) !important;
    box-shadow: #64646f33 0 7px 29px !important;
    transition: transform 3s, background-color .3s;
}
.scrollup__icon {
    color: #000;
    font-size: 2rem;
    transition: color .3s;
}
.scrollup:hover{
    transform: translateY(-1rem);
    background-color: var(--primary-color00) !important;
}
.scrollup__icon:hover{
    color: #fff !important;

}


.show-scroll {
    bottom: 5rem;
}
