
.homethree__data{
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    column-gap: 20px;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 6px 6px -3px rgba(207, 221, 229, 0.5);
    height: 74px;
}
.homethree__icon{
    width: 15.94px;
    height: 22px;
    position: absolute;
    top: 0.8rem;
}
.homethree__select{
    padding: 13px 3.25rem 13px 2rem !important;
}
.homethree__locations{
    padding: 13px 1.25rem 13px 1.75rem !important;
    width: 173px;
    border: none;
}
.homethree__button{
    width: 173px;
    display: flex;
    align-items: center;
}
a.link-btn.d-inline-block.fw-medium.jobs__button.jobs__explore.homethree__button {
    display: flex !important;
    height: 54px;
    align-items: center !important;
    justify-content: center !important;
    column-gap: 25px !important;
}
@media screen and (min-width: 1150px) {
    .homethree__data{
        width: 921px;
        height: 74px;
    }
}
@media screen and (max-width: 1150px) {
    .homethree__data{
        width: 100%;
    }
}
@media screen and (max-width: 575px) {
    .homethree__data{
        flex-direction: column;
    }
}

@media screen and (max-width: 300px) {
    section#homethree-banner {
        padding-top: 12.3rem;
    }
    .homethree__data{
        height: 310px;
       row-gap: 1rem;
       padding: 0px 0px 0px 15px;
    }
}

@media screen and (min-width: 300px) {
    .homethree__data{
        display: grid !important;
        height: 310px;
       row-gap: 1rem;
       padding: 0px 0px 0px 15px;
    }
  
    .homethree__locations{
        width: 100%;
    }
}

@media screen and (min-width: 575px) {
    .homethree__data{
        display: grid !important;
        grid-template-columns: repeat(2, max-content);
        height: 155px;
        justify-content: center;
    }
    .homethree__select {
        padding: 13px 1.25rem 13px 2rem !important;
    }
}

@media screen and (min-width: 1024px) {
    .homethree__data{
        column-gap: 0rem;
        grid-template-columns: repeat(4, max-content);
        column-gap: 0.5rem;
        height: 74px;
        width: 916px;
    }
    .homethree__locations {
        width: 173px;
    }
    .homethree__select {
        padding: 13px 3.7rem 13px 2rem !important;
    }
}
@media screen and (max-width: 1024px) {
    .header_top{
        display: none;
    }
}









