.introduce__container {
    padding: 20px 1.5rem 60px;
}
.introduce__content{
    padding-top: 4rem;
}
.introduce__subtitle{
    display: flex;
}
.introduce__subtitle img{
    width: 10px;
    height: 8.96px;
    margin-top: 6px;

}
.introduce__title{
    margin-bottom: 15px !important;
    font-family: "Space Grotesk", sans-serif;
    
    
}
.introduce__desc{
    margin-bottom: 40px;
}
.introduce__data{
    display: flex;
    flex-direction: column;
    row-gap: 12px;

}
.introduce__image{
    padding-left: 0px;
    padding-right: 0px;
}


@media screen and (min-width: 768px) {
    .introduce__text{
        width: 509px;
    }
}
@media screen and (min-width: 1024px) {
    .introduce__subtitle{
        column-gap: 7px;
    }
    .introduce__container {
        padding: 20px 1.5rem 70px;
    }
    .introduce__content{
        border-top: 1px solid #D6DDEB;
    }
}
@media screen and (min-width: 1024px) {
    .introduce__container {
        padding: 20px 1.5rem 90px;
    }
}


