.jobs__button{
    background-color: #00C6C1 !important;
    padding: 15px;
    border-radius: 6px;
    /* display: flex; */
    column-gap: 10px;
    color: #fff;
}
.jobs__container{
    /* position: relative;
    text-align: center; */
}
.jobs__button-1{
    display: flex;
}
.jobs__button:hover{
    color: #fff;
}
.jobs__arrow{
    margin-left: 10px !important;
}
.jobs_lawyer{
    font-size: clamp(1rem, 0.9671052631578947rem + 0.1644736842105263vw, 1.125rem) !important;
}
.jobs_heading{
    font-size: clamp(1.875rem, 1.675rem + 1vw, 2.875rem);
    font-weight: 700;
    font-family: "Space Grotesk", sans-serif;
    color: #00184b;
    text-align: center;
    /* line-height: 54px; */
}
.jobs__explore{
    font-family: "Space Grotesk", sans-serif !important;
    font-size: 16px !important;
}
.jobs__data{
    display:flex;
    justify-content: space-between;
}
.jobs__message{
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.jobs__list{
    position: relative;
}
.jobs__list img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 .criminal,
 .marriage, .jobs__subtitle {
    position: absolute;
    bottom: 1.5rem;
    left: 1.1rem;
    border-radius: 20px;
    padding: 3px 12px;
    background-color: var(--primary-color00);
    border: none;
    color: #fff;
    font-size: 12px;
}
.marriage{
    left: 7.5rem;
}
.jobs__subtitle{
    left: 14.5rem;
}
.jobs__content{
    padding: 20px 0 0px 20px;
}
.jobs__data{
    padding: 5px 20px 15px;
}
.content{
    padding: 0px !important;
}
.jobs__elite{
    display: flex;
    column-gap: 15px;
    align-items: center;
    margin-bottom: 5px;
}
.jobs__elite img{
    object-fit: cover;
    width: 20px;
    height: 20px;
}
.jobs__elite h4{
    margin-bottom: 0px !important;
    font-size: 18px;
    color:  #2E2E3D;

    letter-spacing: -0.5px;
}
.jobs__elite span{
    font-size: 14px !important;


}
.jobs_box{
    border: none !important;
    box-shadow: 0 2px 4px rgba(231, 231, 231, 0.5); 
}
.jobs__active{
    box-shadow: 0 6px 6px rgba(191, 191, 191, 0.9); 
}
.jobs_box:hover{
    box-shadow: 0 6px 6px rgba(191, 191, 191, 0.9); 
}
.jobs__send{
    color: #00C6C1;
    font-size: 16px;
    font-weight: 700;
    font-family: "Space Grotesk", sans-serif;
    margin-bottom: 0px;
}
.jobs__title{
    color: var(--primary-color00);
    font-size: 18px !important;
    font-weight: 500;
    font-family: "Space Grotesk", sans-serif;
    text-align: center;
}

.card__article {
    position: relative;
    align-self: flex-end;
    display: flex;
    justify-content: center;
}
.card__profile {
    border: 4px solid hsl(0, 0%, 100%);
    z-index: 5;
    transition: opacity .4s, transform .4s;
}

.card__profile {
    border: 4px solid (0, 0%, 100%);
    z-index: 5;
    transition: opacity .4s, transform .4s;
}
.card__data {
    text-align: center;
}

.card__content::after {
    content: "";
    width: 7px;
    height: 7px;
    background-color: #fafafb;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -.2rem;
    margin-inline: auto;
    rotate: 45deg;
  }

  .card__profile, 
  .card__mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .card__profile img, 
  .card__mask img {
    width: 95px;
  }
  
  .card__profile {
    border: 4px solid #000;
    z-index: 5;
    transition: opacity .4s, transform .4s;
  }
  
  .card__tooltip {
    position: absolute;
    bottom: -2rem;
    padding-bottom: 1rem;

    /* ẩn đi */
    transition: opacity .4s, bottom .4s cubic-bezier(.6, -.5, .3, 1.5);
    pointer-events: none;
    opacity: 0;
    right: 3rem;
}

.card__content {
    position: relative;
    background-color: #fafafb;
    box-shadow: 0 16px 32px hsla(230, 50%, 20%, .1);
    padding: 10px;
    border-radius: 1.5rem;
  }

  .card__status {
    width: 12px;
    height: 12px;
    position: absolute;
    top: .5rem;
    right: .75rem;
    border-radius: 50%;
  }
  
  .card__data {
    text-align: center;
  }
  
  .card__name {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    font-weight: 600;
    margin-bottom: .25rem;
  }
  
  .card__profession {
    font-size: var(--normal-font-size);
    font-weight: 500;
    margin-bottom: 2rem;
  }
  
  .card__button {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: #fff;
    font-weight: 500;
    background-color: var(--primary-color00);
    border: none;
    padding: 3px 12px;
    border-radius: 20px;
    font-size: 12px;
  }
  
  .card__button i {
    font-size: 1.25rem;
  }

.card__article:hover .card__profile{
    transform: scale(.8);
    opacity: .7;
}

.card__article:hover .card__tooltip{
    opacity: 1;
    pointer-events: initial;
    bottom: 3rem;
    right: 3rem;
}
.card__data{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.jobs__text{
    color: #007672 !important;

}
.jobs__name{
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
}

.explore{
    /* margin: 20px 0 20px !important; */
    margin: 0px auto 0px;
  
}


.job__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.jobs__img{
    padding: 0 20px 0 20px;
    width: 100%;
}
.m-auto{
    margin: 0 auto;
}
@media screen and (max-width: 374.98px) {
    .jobs__button-1 {
        width: 196px;
        margin: 30px auto 0px;
    }
    .jobs-explore{
        width: 196px !important;
    }
    .jobs__auto{
        margin: 30px auto 30px;
        display: flex;
    }
}
@media screen and (min-width: 375px) {
    .jobs__button {
        width: 196px !important;
        margin: 20px auto 0px;
    }
    .jobs__auto{
        margin: 30px auto 30px;
        display: flex !important;
    }
}

@media screen and (min-width: 500px) {
    .jobs__auto {
        margin: 50px 0 50px !important;
        display: flex !important;
        justify-content: space-between;
    }
    .jobs__button {
        margin: 0px;
    }
    .jobs__button-1 {
        margin-top: 1rem !important;
    }
    .jobs__elite h4 {
        letter-spacing: -1.5px;
    }
    .explore{
        margin: 20px 0 20px;
    }
}
@media screen and (min-width: 620px) {
    .jobs__elite h4 {
        letter-spacing: 0px;
    }
}
@media screen and (min-width: 768px) {
    .jobs_heading,
    .jobs__title{
        text-align: initial;
    }
    .popular-jobs__button{
        display: none !important;
    }
    .display-n{
        display: block;
    }
    ul.features-list.ps-0.list-unstyled.align-items-center.justify-content-between.features__lawyers.display-n {
        display: flex;
        margin-bottom: 4rem;
    }
    .jobs__arrow{
        margin-left: 17px !important;
    }  
    img.jobs__arrow.homepage-arrow-right {
        margin-left: 10px !important;
    }  
    .explore {
        margin: 0px 0 0px;
    }

}


@media screen and (max-width: 1023.98px) {
    .job__list{
        width: 100%;
    }
    .jobs_heading{
        margin-bottom: 15px !important;
    }
}
@media screen and (min-width: 991px) {
    .job__image {
        height: 772px;
        width: 450px;
        margin-right: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .section-title {
        margin-bottom: 60px;
    }
    .jobs__auto {
        margin: 40px 0 0px !important;
        display: flex !important;
    }
    .jobs__heading{
        line-height: 54px;
    }
    .jobs_heading{
        margin-bottom: 15px !important;
    }
    ul.features-list.ps-0.list-unstyled.align-items-center.justify-content-between.features__lawyers.display-n {
        display: flex;
        margin-bottom: 0px;
    }
    .jobs_heading{
        width: 431px;
    }
   

}


@media screen and (min-width: 1050px) {
    .job__image {
        height: 772px;
        width: 480px;
    }
}
@media screen and (min-width: 1150px) {
    .job__image {
        height: 772px;
        width: 500px;
    }
}

