.header nav{
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-between !important;
}
.nav{
    position: relative;
    height: 5.5rem;
    align-items: center;
    /* padding-top: 5rem; */
}

.nav__close,
.nav__toggle{
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
}
.nav__item{
    list-style: none;
}
.nav__list{
    margin-bottom: 0px !important;
}
.nav__link{
    font-family: "Space Grotesk", sans-serif !important;
}

.active-link{
    color: var(--primary-color00);
    border-bottom: 2px solid var(--primary-color00);
    padding: 0 0 3px 0;
    font-weight: 500;
    font-family: "Space Grotesk", sans-serif;
    transition: color .3s, border-bottom .3s ease-in-out;
    font-size: 16px;
    
}
.shadow-header{
    box-shadow: 0 8px 16px -4px hsla(0, 0%, 0%, 0.1);
}

@media screen and (min-width: 1024px) {
    .nav{
        height: 5.5rem;
    }
}

@media screen and (max-width: 1150px) {
    .nav__menu{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #fff;
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 50%;
        height: 100%;
        padding: 6rem 3rem 0;
        transition: right .4s;
        box-shadow: -8px 0 16px hsla(0, 0%, 0%, 0.2);
        border-radius: 1rem 0 0 1rem;
    }
    .nav__list{
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
    }
    .nav__link{
        transition: color .4s;
        color: #00184B;
    }
    .nav__tem .nav__link:hover{
        color:  var(--primary-color00) !important;
    }

   
    .nav__link:hover{
        color:  var(--primary-color00) !important;
    }
    .nav__close{
        position: absolute;
        top: 1rem;
        right: 1.5rem;
    }
    
   
}
@media screen and (max-width: 1023.98px) {
    .nav{
        height: 3.5rem;
    }
}

@media screen and (max-width: 575px){
    .nav__menu{
        width: 80%;
    }
    
}


@media screen and (min-width: 1150px) {
    .nav__toggle,
    .nav__close{
        display: none;
    }
   
    .nav__list{
        display: flex;
        flex-direction: row;
        column-gap: 2.5rem;
    }
    
  
}



/* Show menu */
.show-menu{
    right: 0;
}


.switch {
    position: relative;
    display: inline-block;
    margin: 0 5px;
  }
  
  .switch > span {
    position: absolute;
    top: 14px;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
  }
  
  input.check-toggle-round-flat:checked ~ .off {
      color: #fff;
    }
    
    input.check-toggle-round-flat:checked ~ .on {
      color: #b1b1b1;
  }
  
  .switch > span.on {
    left: 0;
    padding-left: 2px;
    color: #fff;
  }
  
  .switch > span.off {
    right: 0;
    padding-right: 4px;
    color: #b1b1b1;
  }
  
  .check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  input.check-toggle-round-flat + label {
    padding: 2px;
    width: 60px;
    height: 29px;
    /* background-color: #F36F25; */
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 6px;
  }
  input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  
  input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color:  #D2F1F0;
    
    
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 6px;
  }
  input.check-toggle-round-flat + label:after {
    top: -3px;
    left: -3px;
    bottom: 4px;
    width: 35px;
    height: 35px;
    background-color: var(--primary-color00);
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 6px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
  }
  

  
  input.check-toggle-round-flat:checked + label:after {
    margin-left: 31px;
  }
  span.on {
    top: 6px;
}
span.off {
    top: 7px;
}