*,
*:before,
*:after {
    box-sizing: border-box
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

:root {
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px
}

:root {
    --fontFamily: "Lato", sans-serif;
    --headingFontFamily: "Montserrat", sans-serif;
    --primaryColor: #1cbe72;
    --secondaryColor: #fdc56b;
    --headingColor: #404145;
    --bodyColor: #62646A;
    --whiteColor: #ffffff;
    --borderColor: #e0e6e9;
    --transition: all ease .5s;
    --fontSize: 16px
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: var(--bodyColor);
    font-size: var(--fontSize);
    font-family: var(--fontFamily)
}
.container{
    max-width: 1172px;
    margin: 0 auto !important;
    padding: 0 1.5rem;
}
.heading{
    font-size: 14px;
    color: #2E2E3D;
    font-family: "Dm sans", sans-serif;
    font-weight: 400;
    line-height: 20px;
}
.text{
    font-size: 12px;
    color: #2E2E3D;
    font-family: "Dm sans", sans-serif;
}
.nav__item a:hover{
    color: var(--primary-color00) !important;
}
.bg-gray{
    background-color: #f8f8f8 !important;
}
strong{
    font-weight: 700 !important;
}

.w-150{
    background-color: #00C6C1 !important;
    width: 150px;
    padding: 15px;
    border-radius: 6px;
    color: #fff;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.w-251{
    background-color: #00C6C1 !important;
    padding: 15px;
    border-radius: 6px;
    color: #fff;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 251px;
}
.section__title{
    font-family: "Space Grotesk", sans-serif;
    font-size: clamp(1.375rem, 1.2763157894736843rem + 0.4934210526315789vw, 1.75rem) !important;
    font-weight: 700;
    letter-spacing: -1px;
    
}
.mt-35{
    margin-top: 35px;
}
.mt-50{
    margin-top: 50px;
}
@media screen and (min-width: 768px) {
    .w-150,
    .w-196{
        display: flex !important;
       
    }
}

a:hover{
    color: #fff !important;
}
.mt-10{
    margin-top: 10px !important; 
}
.mb-10{
    margin-bottom: 10px;
}

.w-196{
    width: 196px !important;
    background-color: #00C6C1 !important;
    padding: 15px;
    border-radius: 6px;
    color: #fff;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.w-173{
    width: 173px !important;
    background-color: #00C6C1 !important;
    padding: 15px;
    border-radius: 6px;
    color: #fff;
    column-gap: 10px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}
.section-title .link-btn:hover {
    padding-right: 0px;
}
.bg__ff{
    background: #fff !important;
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 14px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 15px
    }
}
/* @media screen and (min-width: 1200px) {
    .container{
        padding: 0px;
    }
} */


