.single-job-box {
    margin-bottom: 25px;
    border-radius: 15px;
    padding: 20px 20px 0;
    background-color: var(--whiteColor);
    border: 1px solid var(--borderColor)
}

.single-job-box .company-logo {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    text-align: center;
    background-color: #f4f7fb
}

.single-job-box .company-logo img {
    left: 0;
    right: 0;
    top: 50%;
    max-width: 80px;
    position: absolute;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto
}

.single-job-box .content {
    margin-left: 15px
}

.single-job-box .content h3 {
    font-size: 18px;
    margin-bottom: 6px
}

.single-job-box .content .location {
    font-size: 17px;
    margin-bottom: 8px
}

.single-job-box .content .job-type {
    color: var(--primaryColor)
}

.single-job-box .apply-btn .default-btn {
    padding: 8px 30px 10px;
    font-weight: 400
}

.single-job-box .info {
    margin-top: 20px;
    padding: 15px 20px;
    border-top: 1px solid var(--borderColor);
    margin-left: -20px;
    margin-right: -20px
}

.single-job-box .info .salary span {
    color: var(--headingColor)
}

.single-job-box .info .salary span:nth-child(1) {
    margin-right: 3px
}

.single-job-box .info .salary span:nth-child(2) {
    color: var(--primaryColor)
}

.single-job-box .info .deadline span {
    color: #d8342b
}

.single-job-box .info .deadline span:nth-child(2) {
    color: var(--primaryColor)
}

.single-job-item {
    padding: 20px 30px;
    border-radius: 10px;
    background-color: #faf5f2;
    margin-bottom: 25px;
    margin-left: 14px
}

.single-job-item .company-logo {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    text-align: center;
    background-color: var(--whiteColor)
}

.single-job-item .company-logo img {
    left: 0;
    right: 0;
    top: 50%;
    max-width: 80px;
    position: absolute;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto
}

.single-job-item .content {
    margin-left: 20px
}

.single-job-item .content h3 {
    font-size: 18px;
    margin-bottom: 6.5px
}

.single-job-item .content .location {
    margin-bottom: 7px
}

.single-job-item .content .deadline span {
    color: #d8342b
}

.single-job-item .apply-btn .default-btn {
    padding: 8px 32px 10px;
    margin-bottom: 12px;
    font-weight: 500
}

.single-job-item .time {
    top: 50%;
    left: -14px;
    height: 110px;
    font-size: 15px;
    padding: 10px 3px;
    position: absolute;
    border-radius: 5px;
    text-align: center;
    background: #325343;
    color: var(--whiteColor);
    writing-mode: vertical-lr;
    transform: translateY(-50%)
}

.single-job-item .time span {
    transform: rotate(180deg)
}

.job-item {
    border-radius: 10px;
    margin-bottom: 25px;
    transition: var(--transition);
    border: 1px solid var(--borderColor)
}

.job-item .content {
    padding: 20px
}

.job-item .content .company-logo {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    text-align: center;
    background-color: #f4f7fb;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px
}

.job-item .content .company-logo img {
    left: 0;
    right: 0;
    top: 50%;
    max-width: 80px;
    position: absolute;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto
}

.job-item .content h3 {
    font-size: 18px;
    margin-bottom: 6px
}

.job-item .content .location {
    font-size: 17px;
    margin-bottom: 8px
}

.job-item .content .job-type {
    color: var(--primaryColor);
    margin-right: 10px
}

.job-item .content .deadline {
    margin-left: 10px
}

.job-item .content .deadline span {
    color: #d8342b
}

.job-item .content .deadline span:nth-child(2) {
    color: var(--primaryColor)
}

.job-item .info {
    border-top: 1px solid var(--borderColor);
    padding: 15px 20px
}

.job-item .info .salary span {
    color: var(--headingColor)
}

.job-item .info .salary span:nth-child(2) {
    color: var(--primaryColor)
}

.job-item .info .link-btn {
    color: var(--primaryColor);
    padding-right: 17px
}

.job-item .info .link-btn i {
    top: 50%;
    right: -3px;
    margin-top: .8px;
    position: absolute;
    transform: translateY(-50%)
}

.job-item .info .link-btn:hover {
    color: var(--secondaryColor)
}

.job-item .fav {
    transition: var(--transition);
    background-color: #f8f8fb;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    font-size: 23px;
    height: 45px;
    width: 45px;
    right: 20px;
    border: 0;
    top: 20px
}

.job-item .fav i {
    left: 0;
    right: 0;
    top: 50%;
    margin-top: 1px;
    position: absolute;
    transform: translateY(-50%)
}

.job-item .fav:hover {
    color: var(--whiteColor);
    background-color: var(--primaryColor)
}

.job-item .tag {
    background-color: var(--primaryColor);
    transform: rotate(-45deg);
    color: var(--whiteColor);
    position: absolute;
    padding: 3px 50px;
    left: -42px;
    top: 23px
}

.job-item .tag.urgent {
    top: 23px;
    left: -37px;
    background-color: #d8342b
}

.job-item:hover {
    transform: translateY(-5px)
}

.more-jobs-btn {
    margin-top: 25px
}

.more-jobs-btn p a {
    color: var(--primaryColor);
    border-bottom: 1px solid var(--primaryColor)
}

.more-jobs-btn p a:hover {
    color: var(--secondaryColor)
}

.shape {
    left: 0;
    right: 0;
    top: 50%;
    z-index: -1;
    position: absolute;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto
}

.bg-c29a94 .section-title h2,
.bg-c29a94 .section-title .link-btn {
    color: var(--whiteColor)
}

.bg-c29a94 .section-title .link-btn:hover,
.bg-c29a94 .single-job-item .content h3 a:hover {
    color: var(--secondaryColor)
}

@media only screen and (max-width: 767px) {
    .single-job-box {
        border-radius: 5px;
        padding: 15px 15px 0
    }

    .single-job-box .company-logo {
        width: 90px;
        height: 90px
    }

    .single-job-box .content {
        margin-left: 0;
        margin-top: 12px;
        margin-bottom: 15px
    }

    .single-job-box .content h3 {
        font-size: 16px
    }

    .single-job-box .content .location {
        font-size: 15px
    }

    .single-job-box .info {
        margin-top: 15px;
        padding: 12px 15px;
        margin-left: -15px;
        margin-right: -15px
    }

    .single-job-box .info .salary {
        margin-bottom: 5px
    }

    .single-job-item {
        text-align: center;
        border-radius: 5px;
        margin-left: 12px;
        padding: 20px
    }

    .single-job-item .company-logo {
        width: 90px;
        height: 90px;
        margin-left: auto;
        margin-right: auto
    }

    .single-job-item .content {
        margin-left: 0;
        margin-top: 12px;
        margin-bottom: 15px
    }

    .single-job-item .content h3 {
        font-size: 16px
    }

    .single-job-item .content .location {
        font-size: 15px
    }

    .single-job-item .time {
        left: -12px;
        font-size: 14px;
        padding: 10px 2px
    }

    .job-item {
        border-radius: 5px
    }

    .job-item .content {
        padding: 15px
    }

    .job-item .content .company-logo {
        width: 90px;
        height: 90px;
        margin-bottom: 15px
    }

    .job-item .content h3 {
        font-size: 16px;
        margin-bottom: 6px
    }

    .job-item .content .location {
        font-size: 14px;
        margin-bottom: 8px
    }

    .job-item .content .job-type {
        margin-right: 8px
    }

    .job-item .content .deadline {
        margin-left: 8px
    }

    .job-item .info {
        padding: 12px 15px
    }

    .job-item .fav {
        font-size: 20px;
        height: 40px;
        width: 40px;
        right: 15px;
        top: 15px
    }

    .job-item .tag {
        padding: 2px 50px;
        left: -49px;
        top: 18px
    }

    .job-item .tag.urgent {
        top: 17px;
        left: -42.5px
    }

    .more-jobs-btn {
        margin-top: 0
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-job-box .content {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 15px
    }

    .single-job-box .info .salary {
        margin-bottom: 0
    }

    .single-job-item {
        text-align: start;
        padding-left: 25px
    }

    .single-job-item .content {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 15px
    }

    .single-job-item .time {
        left: -12px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-job-box {
        border-radius: 10px
    }

    .single-job-box .content h3 {
        font-size: 18px
    }

    .single-job-box .content .location {
        font-size: 16px
    }

    .single-job-item {
        padding: 20px 25px
    }

    .single-job-item .content {
        margin-left: 15px
    }

    .single-job-item .content h3 {
        font-size: 18px
    }

    .single-job-item .time {
        font-size: 14px
    }

    .job-item .content .location {
        font-size: 15px
    }

    .job-item .info {
        padding: 15px 20px
    }

    .job-item .fav {
        font-size: 21px;
        height: 41px;
        width: 41px
    }

    .more-jobs-btn {
        margin-top: 0
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-job-box .apply-btn {
        margin-top: 20px
    }

    .single-job-box .info .salary {
        margin-bottom: 7px
    }

    .job-item .content .location {
        font-size: 16px
    }

    .more-jobs-btn {
        margin-top: 10px
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .more-jobs-btn {
        margin-top: 20px
    }
}